.main-list{
    margin-top: 80px;
}

.main-list > .table{
    margin: 0 !important;
}

.main-list tr {
    transition: .3s;
}

.main-list tr:hover {
    background: #cecece;
}

.nat-container{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loader-container{
    position: fixed !important;
}